@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

/* general styles */

title {
  display: none;
}

header {
  font-size: 26px;
  font-family: "baskerville", sans-serif;
  color: #222; /* light black! */
  text-align: center;
}

body {
  font-size: 14px;
  font-family: "baskerville", sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  width: 720px;
  display: block;
}

address {
  text-align: center;
  font-size: 14px;
  padding-bottom: 4px;
  align-content: center;
}

h1 {
  color: #6483b3;
}

h2 {
  letter-spacing: 0.1em;
  font-size: 24px;
  color: #90a9d2;
}

h3 {
  font-style: italic;
  font-size: 16.5px;
}

section {
  padding-bottom: 15px;
}

div {
  display: inline-block;
  padding-top: 30px;
  width: 940px;
  margin: 0 auto;
}

footer {
  clear: both;
  text-align: center;
  font-size: 14px;
  padding-top: 60px;
}

em {
  font-size: 14px;
}

/* id styles */

#container {
  max-width: 960px;
  overflow: auto;
  padding: 10px;
}

#leftcolumn {
  float: left;
  border-right: 1px dotted #90a9d2; /* pantone serenity (periwinkle purple/blue) */
  max-width: 440px;
  margin-right: 10px;
  padding-right: 3px;
  overflow: auto;
}

#rightcolumn {
  float: right;
  border-left: 1px dotted #90a9d2; /* pantone serenity (periwinkle purple/blue) */
  max-width: 440px;
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 3px;
  overflow: auto
}

 #work {
  clear: both;
  width: 960px;
  padding-left: 10px;
  padding-top: 20px;
}

#education {
  padding-top: 30px;
  padding-right: 10px;
  text-align: right;
}

#skills {
  padding-left: 10px;
  padding-top: 30px;
}

#languages {
  padding-top: 20px;
  padding-right: 10px;
  text-align: right;
}

/* class styles */

.clear {
  clear: both;
}

/* link styles */

a:link,a:hover,a:visited,a:active {
  text-decoration: none;
}

a:link {
  color: #90a9d2; /* pantone serenity (periwinkle purple/blue) */
}

a:hover {
  color: #f4cbc7; /* pantone rose quartz (dusty pink) */
}

a:visited {
  color: #bdc8db; /* lighter version of periwinkle link color */
}

a:active {
  color: #bed5bb; /* pastel green */
}

/* navigation styles */

nav {
  padding-top: 30px;
  padding-bottom: 50px;
  width: 100px;
  display: inline;
  text-align: center;
  margin-bottom: 10px;
}

nav li {
  display: inline;
  padding-right: 10px;
  margin-right: 10px;
}
