@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);


body {
  font-family: "josefin sans", sans-serif;
  font-size: 16px;
  display: block;
}

/* link styles */

a:link,a:visited,a:hover,a:active {
  text-decoration: none;
}

a:link {
  color: #90a9d2; /* pantone serenity (periwinkle purple/blue) */
}

a:visited {
  color: #bdc8db; /* lighter version of periwinkle link color */
}

a:hover {
  color: #f4cbc7; /* pantone rose quartz (dusty pink) */
}

a:active {
  color: #bed5bb; /* pastel green */
}

.hover {
  width: 200px;
  height: 200px;
  background: #fff;
  transition: background 1s ease-in;
  margin-bottom: 10px;
  margin-right: 4px;
}

a {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}


/* overall styles */

header {
  font-family: "josefin sans", sans-serif;
  font-size: 16px;
  display: block;
}

footer {
  padding-top: 40px;
  padding-right: 60px;
  margin-top: 40px;
  display: block;
  width: 200px;
  margin: 0 auto;
  font-size: 12px;
}

img {
  margin-bottom: 20px;
}

/* might need this
div image {
  width: 800px;
}
*/

/* id styles */

#indexhome #name {
  width: 450px;
  margin: 0 auto;
}

#name2 {
  width: 450px;
  margin: 0 auto;
}

#container #img {
  width: 800px;
  margin: 0 auto;
}

#container {
  margin: 0 auto;
  width: 930px;
  max-width: 960px;
  min-width: 320px;
  overflow: auto;
  padding: 10px;
}

/* class styles */

.topbar {
  padding-top: 10px;
  padding-bottom: 80px;
  margin-left: 38px;
  padding-left: 150px;
  width: 500px;
}

.pdfs {
  width: 400px;
  padding-bottom: 60px;
  padding-right: 60px;
  float: left
}

p {
  display: none;
}

.farmshare {
  width: 400px;
  padding-bottom: 60px;
  padding-right: 60px;
  margin-left: 232.5px;
}

/* navigation styles */

nav {
  display: inline;
  text-align: center;
  font-family:, sans-serif;
  padding-right: 10px;
  margin-right: 40px;
}


nav li {
  display: inline;
  padding-right: 20px;
  padding-top: 20px;
  margin-right: 20px;
  font-family: "josefin sans", sans-serif;
  font-size: 24px;
  padding-top: 20px;
}

ul {
  padding-right: 60px;
  padding-top: 20px;
}
