@media print {

* {
  background: transparent; !important
  color: #222; /* light black! */
}

@page {
  margin: 0.5in;
}

title {
  display: none;
}

header {
  font-size: 24pt;
  font-family: "baskerville", sans-serif;
  color: #222; /* light black! */
  text-align: center;
}

body {
  font-size: 14pt;
  font-family: "baskerville", sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
  text-align: justify;
  width: 720px;
  display: block;
}

main {
  width: 100%;
}

address {
  text-align: center;
  font-size: 12pt;
  padding: 0;
}

h1 {
  color: #90a9d2;
  margin:0;
}

h2 {
  font-size: 18pt;
  letter-spacing: 0.01cm;
  color: #90a9d2;
}

h3 {
  font-style: italic;
  font-size: 14.5pt;
}

section {
  padding-bottom: 1cm;
  margin: 0;
  border: 0;
}

div {
  display: inline-block;
  padding-top: 1cm;
  width: 960px;
}

footer {
  display: none;
}

em {
  font-size: 12pt;
}

#container {
  max-width: 960px;
  overflow: auto;
  padding: 10px;
}

#leftcolumn {
  float: left;
  border-right: 1pt dotted #90a9d2; /* pantone serenity (periwinkle purple/blue) */
  max-width: 440px;
  margin-right: 10px;
  padding-right: 3px;
  overflow: auto;
}

#rightcolumn {
  float: right;
  border-left: 1pt dotted #90a9d2; /* pantone serenity (periwinkle purple/blue) */
  max-width: 440px;
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 3px;
  overflow: auto
}

 #work {
  clear: both;
  width: 960px;
  padding-left: 10px;
  padding-top: 20px;
}

#education {
  padding-right: 10px;
  text-align: right;
}

#skills {
  padding-left: 10px;
}

#languages {
  padding-top: 20px;
  padding-right: 10px;
  text-align: right;
}

.clear {
  clear: both;
}

a:hover,a:visited,a:active {
  display: none;
}

a:link {
  display: inline;
  text-decoration: none;
  color: #90a9d2;
}

nav, nav li {
  display: none;
  }

}
